<img src="https://vribeiro1.github.io/img/profile.jpeg" style="border-radius: 100%;" width="200">
<hr>
<h3>Vinícius Ribeiro</h3>
<p><i class="fas fa-map-marker-alt"></i> Dublin, Ireland</p>

<p>Senior Machine Learning Scientist</p>
<p>Intercom</p>

<h5>Contact me</h5>
<ul class="list-inline">
    <li class="list-inline-item"><a href="https://github.com/vribeiro1/"><i class="fab fa-github"></i></a></li>
    <li class="list-inline-item"><a href="https://www.linkedin.com/in/vribeiro1/"><i class="fab fa-linkedin"></i></a></li>
    <li class="list-inline-item"><a href="mailto:vinicius.ribeiro1@gmail.com" ><i class="fas fa-envelope"></i></a></li>
</ul>
