---
layout: default
---

<div class="row">
    <div class="col-md-3">
        <h3>Vinicius Ribeiro</h3>
        <hr>
        <p><i class="fas fa-map-marker-alt"></i> São Paulo, SP - Brazil</p>

        <p>M.Sc. Candidate @ Unicamp</p>
        <p>Data Scientist and Engineer <br>@ Nexa Digital</p>

        <h5>Contact me</h5>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/vribeiro1/"><i class="fab fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/vribeiro1/"><i class="fab fa-github"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/viniribeiro1/"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="mailto:vinicius.ribeiro1@gmail.com" ><i class="fas fa-envelope"></i></a></li>
        <ul>
    </div>

    <div class="col-md-9">
        <h4>Academic Education</h4>
        <p>
            <b>Master of Science - Machine Learning and Deep Learning</b> - On going<br>
            Department of Computer Engineering and Industrial Automation (DCA)<br>
            School of Electrical and Computer Engineering (FEEC)<br>
            University of Campinas (Unicamp)
        </p>

        <p>
            <i>Project: Exploring deep learning techniques like Convolutional Neural Networks (CNN) and Generative Adversarial Networks (GAN) to the task of skin lesion segmentation. Usage of novel deep learning frameworks like PyTorch.</i>
        </p>
        <p>
            <i>I also dedicated some time to the exploration of statistical inference, focused mainly on bayesian statistics, psychometric theory for latent variable modeling and estimation, and factor graph theory for skill modeling. Usage of traditional Python frameworks for machine learning, data science, data visualization and statistical modeling like Numpy, Scipy, Pandas, Matplotlib, Seaborn and Stan.</i>
        </p>

        <p>
            <b>Bachelor degree - Electrical Engineering</b><br>
            School of Electrical and Computer Engineering (FEEC)<br>
            University of Campinas (Unicamp)
        </p>
        <hr>

        <h4>Languages</h4>

        <ul>
            <li>
                <b>English (Advanced)</b><br>
                <small>Studied for 6 years in Cultura Inglesa English School</small><br>
                <small>TOEFL iBT: 101/120</small>
            </li>
            <li>
                <b>French (Basic)</b><br>
            </li>
            <li>
                <b>Portuguese (Native)</b><br>
            </li>
        </ul>
        <hr>

        <h4>Programming and Informatics</h4>
        <p class="text-muted">Proven professional experiences with the following technologies</p>

        <ul>
            <li>Python</li>
            <li>Data Science Frameworks and Tools, <i>e.g.</i> Pandas, Numpy, PyTorch, Scikit-Learn and others</li>
            <li>Cloud Computing, <i>e.g.</i> Amazon Web Services, Google Cloud Platform</li>
            <li>Software Architecture</li>
            <li>SQL, NoSQL and Graph Databases</li>
            <li>Git</li>
        </ul>
        <hr>

        <h4>Professional and Academic Experiences</h4>
        <br>

        <h6>2018 - Current <b>Data Scientist - Nexa Digital</b> - São Paulo, Brazil</h6>
        <p>
            We are building the future of healthcare using advanced techniques of machine learning, AI another disruptive technologies.
        </p>

        <h6>2018 <b>Data Scientist - iFood</b> - São Paulo, Brazil</h6>
        <p>
            iFood is the leader in online food delivery in Brazil, and one of the most innovative food tech companies in the world.
        </p>
        <p>
            Working in the company's logistics team, I was responsible for leading data science projects that have a real impact on our operations. I was responsible for developing models that helps us better understand how our logistics work and make more accurate decisions. By the side of the operations team, I could get a clear view of what impacts us the most and use the data in our favor.
        </p>
        <p>
            In the logistics team, I was also responsible for leading and launching our mPOS system, one of our most strategic projects for the year of 2018. As the project manager, I was responsible for dealing with suppliers, the tech team and all of our controllers and stakeholders and making sure everyone is in the same page.
        </p>

        <h6>2017 - 2018 <b>Data Scientist - Rapiddo Delivery</b> - Campinas, Brazil</h6>
        <p><i>
            Acquired by iFood in 2018
        </i></p>
        <p>
            Rapiddo Delivery is a fast growing startup in the delivery business. Working with different types of vehicles, we provided a smart, fast and safe platform to get anything delivered from one place to another.
        </p>
        <p>
            As part of the Data & Analytics team, I was responsible for designing machine learning, statistical and control models for all segments of our business, developing services for collecting and analysing data and integrating the developed services with the rest of our platform as well as integrating them with AWS.
        </p>

        <h6>2016 - 2017 <b>Junior Software Engineer - Eldorado Research Institute</b> - Campinas, Brazil</h6>
        <p>
            Software development using Python programming language integrated with USA teams. Agile Scrum management process. Knowledge improvement in Java programming language, Android software and software architecture.
        </p>
        <p>
            Contribution in technological workshops on computer vision and data science, improving knowledge in machine learning techniques, such as data processing, regression, classification and clustering. Knowledge improvement in Python frameworks for data science such as Pandas, Numpy, Scipy, Scikit learn, Keras, and others.
        </p>

        <h6>2015 - 2016 <b>Software Development Internship - Motorola</b> - Jaguariuna, Brazil</h6>
        <p>
            Testing automation and Android development using Python programming language. Web development using GWT (Java) framework. Knowledge improvement in languages J2SE, J2EE, JavaScript, UML, XML, WebServices, GWT, Google App Engine, Python. Software development integrated with USA teams. Agile Scrum management process.
        </p>

        <h6>2015 <b>Academic Internship - Czech Technical University</b> - Prague, Czech Republic</h6>
        <p><i>
            Supervisor: Pavel Paces, PhD
        </i></p>
        <p>
            Development of a set of scripts in the Matlab environment to illustrate different principles of control for a small satellite platform. The scripts illustrate different control approaches (P, PD, PI, PID) in order to motivate students with limited knowledge on control theory and spaceship stabilization to get in touch with the subject in a practice way.
        </p>
        <p>
            Project developed in the Czech Technical University in Prague, Czech Republic from january 2015 to february 2015.
        </p>

        <h6>2014 - 2015 <b>Scientific Research Scholarship - PIBITI/CNPq</b> - Campinas, Brazil</h6>
        <p><i>
            Supervisor: Eduardo do Valle, PhD
        </i></p>
        <p>
            Development of an appliance for Audience Response Systems using PHP, HTML and CSS programming languages and SQL database. Project financed by the National Counsel of Technological and Scientific Development (CNPq), Brazil.
        </p>
    </div>
</div>
