---
layout: default
---

<div class="row">
    <div class="col-md-3">
        {% include sidebar.html %}
        <hr>
        <p><a href="{{ site.url }}/assets/cv.pdf"><i class="far fa-file-pdf"></i> Download my CV</a></p>
    </div>

    <div class="col-md-9">
        <h4>Academic Education</h4>
        <p>
            <b>PhD Candidate - Computer Science, Deep Learning, Speech Production</b><br>
            <a href="https://team.inria.fr/multispeech/">Multispeech Research Team</a><br>
            <a href="https://www.loria.fr/en/">Loria</a>, <a href="https://www.inria.fr/en/inria-nancy-grand-est-centre">Inria</a>, CNRS, Univ. de Lorraine
        </p>

        <p>
            Thesis Title: <i>Deep supervision of the vocal tract shape for articulatory synthesis of speech</i><br>
        </p>

        <p>
            Extra-curricular activities:
            <ul>
                <li>12th Lisbon Machine Learning School - Instituto Superior Técnico, Lisbon, Portugal (July 2022)</li>
                <li>4th International School on Deep Learning - Università Politecnica delle Marche, Universitat Rovira i Virgili & IRDTA, Las Palmas de Gran Canaria, Spain (July 2021)</li>
            </ul>
        </p>

        <p>
            <b>Master of Science - Electrical Engineering, Deep Learning, Computer Vision</b><br>
            Department of Computer Engineering and Industrial Automation (DCA)<br>
            School of Electrical and Computer Engineering (FEEC)<br>
            University of Campinas (Unicamp)
        </p>

        <p>
            Dissertation Title: <i>The Impact of Annotation Quality on Deep Learning for Skin Lesion Segmentation</i><br>
            <a href="https://repositorio.unicamp.br/acervo/detalhe/1095160">Access here</a>
        </p>

        <p>
            Extra-curricular activities:
            <ul>
                <li>Summer School on Data Science for Document Analysis and Understanding - La Rochelle Université & Inria, France (July 2019)</li>
            </ul>
        </p>

        <p>
            <b>Bachelor of Science - Electrical Engineering</b><br>
            School of Electrical and Computer Engineering (FEEC)<br>
            University of Campinas (Unicamp)
        </p>

        <p>
            Extra-curricular activities:
            <ul>
                <li>Software Engineering Internship - Motorola Mobility, Jaguariúna, Brazil (2015 - 2016)</li>
                <li>Linear Analysis Lab Monitor - University of Campinas, Campinas, Brazil (1S2015)</li>
                <li>Academic Internship - Czech Technical University, Prague, Czech Republic (Jan - Feb 2015)</li>
                <li>Academic Internship - University of Campinas, Campinas, Brazil - Funded by PIBITI/CNPq (2014 - 2015)</li>
                <li>President of 3E Unicamp - Junior Enterprise, Campinas, Brazil (2013)</li>
            </ul>
        </p>

        <hr>

        <h4>Languages</h4>

        <ul>
            <li>
                Portuguese (Native)<br>
            </li>
            <li>
                English (Fluent)<br>
            </li>
            <li>
                French (Advanced)<br>
            </li>
        </ul>

        <hr>

        <h4>Programming and Informatics</h4>
        <p class="text-muted">Proven professional experiences with the following technologies</p>

        <ul>
            <li>Python</li>
            <li>Data Science Frameworks and Tools, <i>e.g.</i>, PyTorch, Scikit-Learn, Numpy, others</li>
            <li>Cloud Computing, <i>e.g.</i>, Amazon Web Services, Google Cloud Platform</li>
            <li>SQL, NoSQL and Graph Databases</li>
        </ul>

        <hr>

        <h4>Professional Experiences</h4>
        <br>

        <h6>Oct 2020 - Current<b> Doctoral Researcher - Loria</b> - Nancy, France</h6>
        <p>
            PhD Candidate at the Multispeech research team at Loria, under the supervision of Yves Laprie.
            My research is focused on machine learning methods for articulatory synthesis of speech.
        </p>

        <h6>Aug 2022 - Dec 2022<b> Research Scientist Intern - Meta AI</b> - New York, USA</h6>
        <p>
            At the AI Speech Team, I explored wake word detection and different phonetic alignment
            approaches for these models. I compared alignment-based and alignment-free, and proposed
            a hybrid alignment, that mixes the two. My experiments showed alignment-free training
            outperforms alingment-based for lower FAh levels, while the opposite happens on higher
            FAh levels. Moreover, when trained with the correct aligned-to-unaligned ratio, the
            proposed hybrid system obtains the best of the two worlds.
        </p>

        <h6>Oct 2018 - Oct 2020<b> Data Science Specialist - Dasa & Nexa Digital</b> - São Paulo, Brazil</h6>
        <p>
            At Nexa Digital (acquired by DASA), I worked as a data scientist in the processing of
            medical documents using traditional ML and DL models (LSTM, CNN, attention mechanisms).
            Apart from traditional data science, my work included developing data infrastructure,
            building high-performance systems and pipelines.
        </p>
        <p>
            After the M&A, I worked on processing medical images (MRI, X-ray, ultrasound) using
            deep convolutional networks. Our goal was to improve the clinical daily tasks and
            patients' well being with artificial intelligence.
        </p>

        <h6>Nov 2017 - Oct 2018<b> Data Science & Analytics - iFood & Rapiddo Delivery</b> - São Paulo, Brazil</h6>
        <p>
            At Rapiddo Delivery (acquired by iFood), I worked as a data scientist in the food delivery
            business. My most significant contribution was the development of a dynamic pricing
            system based on the supply and demand at any time. As a result, the system enabled a
            positive margin in the largest city that we operated for the first time.
        </p>
        <p>
            After the M&A, I worked as a data scientist in the logistics team. I also led and
            launched our mPOS system, one of our most strategic projects in that year. I was responsible
            for dealing with suppliers, the tech team, and other stakeholders. As a result, I was the
            main responsible for increasing our demand by 30% in all cities we launched.
        </p>

        <h6>May 2016 - Nov 2017<b> Junior Software Engineer - Eldorado Research Institute</b> - Campinas, Brazil</h6>
        <p>
            At Eldorado, I worked at an international project for Motorola Mobility. We were responsible
            for developing software automation tools to help the engineering teams to be more productive.
            As a software engineer, I worked mainly with Python at a team with people from the US,
            Brazil, and India.
        </p>
    </div>
</div>
