---
layout: default
---

<div class="row">
    <div class="col-md-3">
        <img src="img/profile.jpeg" style="border-radius: 100%;" width="200">
        <hr>
        <h3>Vinícius Ribeiro</h3>
        <p><i class="fas fa-map-marker-alt"></i> Nancy - France</p>

        <p>PhD Candidate @ LORIA, Université de Lorraine</p>

        <h5>Contact me</h5>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/vribeiro1/"><i class="fab fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/vribeiro1/"><i class="fab fa-github"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/viniribeiro1/"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="mailto:vinicius.ribeiro1@gmail.com" ><i class="fas fa-envelope"></i></a></li>
        <ul>
    </div>

    <div class="col-md-9">
        <h3>Hey, there!</h3>
        <hr>
        <p>
            I am a PhD student in the <a href="https://team.inria.fr/multispeech/">Multispeech research group</a> at <a href="https://www.loria.fr/en/">LORIA</a>, France, under the supervision of <a href="https://members.loria.fr/YLaprie/">Dr. Yves Laprie</a>.
            I got my M. Sc. (2019) and my B. Sc. (2016) in Electrical Engineering at the University of Campinas (Unicamp), Brazil.
        </p>

        <p>
            My work focuses on the deep supervision of the vocal tract for articulatory speech synthesis. I am highly motivated about Machine Learning and Deep Learning, especially about medical applications.
            If you are curious about my work, check out my social networks, and do not hesitate to contact me.
        </p>
    </div>
</div>
