---
layout: default
---

<div class="row">
    <div class="col-md-3">
        {% include sidebar.html %}
    </div>

    <div class="col-md-9">
        <h3>Hey, there!</h3>
        <hr>
        <p>
            I am a PhD student in the <a href="https://team.inria.fr/multispeech/">Multispeech</a>
            team at <a href="https://www.loria.fr/en/">Loria</a>, France, under the supervision of
            <a href="https://members.loria.fr/YLaprie/">Dr. Yves Laprie</a>. Before, I got my M. Sc.
            (2019) and my B. Sc. (2016) in Electrical Engineering at the University of Campinas
            (Unicamp), Brazil.
        </p>

        <p>
            My current work focuses on articulatory speech synthesis with the aid of deep neural
            networks. I am highly motivated about applications of machine learning and deep
            learning. If you are curious about my work, check out my social networks, and do not
            hesitate to contact me.
        </p>

        <h4>Research interests</h4>
        <ul>
            <li>Machine learning & Deep learning</li>
            <li>Speech processing</li>
        </ul>

        <h4>Personal interests</h4>
        <ul>
            <li>Music, particularly playing acoustic guitar</li>
            <li>Dogs</li>
            <li>Biking</li>
        </ul>
    </div>
</div>
