---
layout: default
---

<div class="row">
    <div class="col-md-3">
        <img src="img/profile.jpeg" style="border-radius: 100%;" width="200">
        <hr>
        <h3>Vinícius Ribeiro</h3>
        <p><i class="fas fa-map-marker-alt"></i> São Paulo, SP - Brazil</p>

        <p>Master of Science @ Unicamp</p>
        <p>Data Scientist and Engineer</p>

        <h5>Contact me</h5>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/vribeiro1/"><i class="fab fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/vribeiro1/"><i class="fab fa-github"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/viniribeiro1/"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="mailto:vinicius.ribeiro1@gmail.com" ><i class="fas fa-envelope"></i></a></li>
        <ul>
    </div>

    <div class="col-md-9">
        <h3>Hey, there!</h3>
        <hr>
        <p>
            I got my M. Sc. (2019) and my B. Sc. (2016) in Electrical Engineering at the University of Campinas (Unicamp), Brazil.
        </p>
        <p>
            At the M. Sc. program, I applied deep convolutional neural networks to analyze skin lesion images. The goal was to understand the development of skin cancer, the most incident type of cancer in Brazil. My main contribution was lesion segmentation, which consists of assigning a label (lesion or healthy skin) to each pixel of the image.
        </p>
        <p>
            My master thesis focused on the impact of annotation quality for machine learning. We analyzed the inter-annotator agreement of different annotations for the same image. We proposed conditionings to increase the agreement and denoise the inputs of the neural networks. Our greatest achievement was showing how this input regularization increases the generalization capability of the models, without increasing the complexity.
        </p>
        <p>
            Currently, I am working as a Data Scientist and Machine Learning Engineer in the healthcare industry. My work includes applying deep neural networks to make sense of complex medical images.
            I am highly motivated about Machine Learning and Deep Learning, especially about medical applications. If you are curious about my work, check out my social networks, and do not hesitate to contact me.
        </p>
    </div>
</div>
