---
layout: default
---

<div>
    <h3>
        Selling My Stuff
    </h3>
    <small class="text-muted">
        As some of you may know, I will finish my Ph.D. by December and soon after I will leave
        France. For this reason, I am selling a few items I collected along my time here. Please,
        let me know if you are interested in any of them.
        <br>
        All items are available to pick up in Nancy. The small ones I can take to Loria to deliver.
    </small>
    <hr>
    <div>
        {% for item in selling_items %}
        <div>
            <div class="col-md-3">
                <img src="{{ item.photo }}" style="border-radius: 100%;" width="200">
            </div>
            <div class="col-md-9">
                <h5>{{ item.name }} -- {{ item.price }} &euro; -- {{ item.status }}</h5>
                {% assign details_size = item.details | size %}
                {% if publication_list_size > 0 %}
                    <ul>
                    {% for detail in item.details %}
                        <li>{{ detail }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
</div>